<section>
  <h2>create new post</h2>

  <form class="new-post-form" autocomplete="off">
    <div>
      <label for="post-title">title</label>
      <input type="text" id="post-title" name="post-title" />
    </div>
    <div>
      <label for="post-body">body</label>
      <textarea id="post-body" name="post-body"></textarea>
    </div>
    <button type="submit" class="btn">create</button>
  </form>
</section>

{{#if posts.length}}
<section>
  <h2>your functions</h2>
  <ul>
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">edit function</a>
    </li>
    {{/each}}
  </ul>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>