{{> post-info post}}

{{#if loggedIn}}
<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">console log</button>
    <button type="button" class="upvote-btn">votes++</button>
    {{#if isUsersPost}}
    <button type="button" class="delete-post-btn">delete</button>
    <button type="button" class="edit-link"><a class="button-link" href="/dashboard/edit/{{post.id}}">edit function</a></button>
    {{/if}}
  </div>
</form>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
<script src="/javascript/upvote.js"></script>
{{#if isUsersPost}}
<script src="/javascript/delete-post.js"></script>
{{/if}}
{{/if}}